.low-opacity-bg-image {
  --bg-image: url("./assets/pexels-liger-pham-232622-1108701.jpg");
  --bg-image-opacity: 0.7;

  position: relative;
  isolation: isolate;
}

.low-opacity-bg-image::before {
  content: "";
  position: absolute;
  z-index: -2;
  inset: 0;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
}

.low-opacity-bg-image::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust this to control the dimming effect */
  pointer-events: none; /* Ensure the overlay doesn't interfere with text interaction */
}

/* .low-opacity-bg-image::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: var(--bg-image-opacity);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
} */

.rightSide::-webkit-scrollbar,
select::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}

.rightSide::-webkit-scrollbar-track,
select::-webkit-scrollbar-track {
  background: #7814d5;
  /* border-radius: 16px; */
}

.rightSide::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
  background: #bc14d3;
  border-radius: 16px;
}

select::-webkit-scrollbar-thumb:hover {
  background: #c848c2;
  cursor: grab;
}
